@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: rgb(26, 209, 163);
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #13131a;
    --danger: #f75842; 
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);


     --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

span {
    color: var(--main-color);
}

/* ################## NAVBAR Started ################# */
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--second-bg-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 1000;
}

nav .logo {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--main-color);
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {

    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: var(--second-bg-color);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a:hover {
        background: none;
        color: var(--main-color);
    }
}

/* ################## NAVBAR ENDED ################# */

/* ################## HEADER STARTED ################# */


.hero_container {
    min-height: 110vh;
    background: var(--bg-color);
    max-width: var(--max-width);
    margin: auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.hero_container .content {
    display: flex;
    padding: 3.5rem;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--second-color);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    color: whitesmoke;
    margin-bottom: 1rem;
}

.text2 span {
    font-size: 2.8rem; /* Increased font size */
    font-weight: 550;
    color: white; /* Ensuring the color remains white */ 
}

.text3 span {
    font-size: 1.8rem;
    margin: 0.3rem 0;
    font-weight: 450;
    color: white; /* Change text color to white */
}

.text3 span {
    font-size: 1.8rem;
    margin: 0.3rem 0;
    font-weight: 450;
    color: white;
}

/* Larger devices */
@media (min-width: 1200px) {
    .text3 span {
        font-size: 2rem;
        margin: 0.5rem 0;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 1199px) {
    .text3 span {
        font-size: 1.8rem;
        margin: 0.4rem 0;
    }
}

/* Small devices */
@media (max-width: 767px) {
    .text3 span {
        font-size: 1.6rem;
        margin: 0.3rem 0;
    }
}

/* Extra small devices */
@media (max-width: 480px) {
    .text3 span {
        font-size: 1.4rem;
        margin: 0.2rem 0;
    }
}


.text3 .typing {
    color: rgb(26, 209, 163);
    font-weight: 500;
}


.description {
    line-height: 1.5rem;
    font-weight: 300;
    color: rgb(211, 211, 211);
    margin-bottom: 1.5rem;
}

button {
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    cursor: pointer;
    border: 2px solid var(--main-color);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: #fff;
    box-shadow: inset 0 0 10px rgba(58, 209, 255, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
    color: var(--main-color);
    box-shadow: inset 0 0 10px rgba(27, 253, 234, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.image {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.image img {
    width: 450px; /* Adjust the width as needed */
    height: 450px; /* Ensure equal height to create a circle */
    border-radius: 50%;
    border: 3px solid var(--main-color);
    animation: borderAnimation 3s infinite alternate;
}

@media (max-width: 750px) {
    .image img {
        width: 350px; /* Adjust the width for smaller screens */
        height: 350px; /* Ensure equal height for smaller screens */
        /* picture in centre  */
    }
}

@keyframes borderAnimation {

    0%,
    100% {
        border-color: var(--main-color);
    }

    50% {
        border-color: #fff;
    }
}

@media (width < 750px) {

    .hero_container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 0;
        gap: 0;
    }
    .hero_container .content{
        margin: 0;
    }

    .image {
        width: 50%;
        margin: 0 auto;
    }
}
@media (width <= 420){
    .hero_container {
        width: 100%;
    }
    .hero_container .content{
        width: 100%;
    }
}

/* ################## HEADER SECTION END ################# */


/* ###################### ABOUT SECTION STARTED ####################### */
.about_container {
    min-height: 100vh;
    background: var(--second-bg-color);
    max-width: var(--max-width);
    margin: auto;
    padding: 0rem;
    display: flex;
}

.about_right {
    display: flex;
    padding: 3.5rem;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--second-color);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.about_container .description {
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--second-color);
    margin-bottom: 2rem;
}

.about_left {
    display: grid;
    place-items: center;
    width: 50%;
}

.about_left img {
    width: min(35rem, 90%);
}

@media (width < 750px) {

    .about_container {
        flex-direction: column-reverse;
        text-align: left;
        padding: 1rem 0;
    }

    .about_left {
        width: 100%;
        padding: 1.5rem 0;
        margin: auto;
    }

    
    .about_right {
        width: 100%;
        padding: 1rem 0;

        
    }
    
    .about_container .description{
        width: 85%;
        margin: auto;
    }
    .about_right .title {
        text-align: center;
    }
    .about_left img{
        width: 70%;
        margin-top: 0;
    }
}
/* ###################### ABOUT SECTION ENDED ####################### */



/* ###################### Services SECTION STARTED ####################### */
.services_section {
    background-color: var(--bg-color);
    padding: 5rem 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_title {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.services_container {
    display: flex;
    justify-content: center;
}

.service_card {
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 25%;
    height: 300px;
}

.service_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 16px rgba(36, 255, 164, 0.4);
}

.icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.service_card .description {
    color: #777;
    margin-bottom: 20px;
}

.services_section .title {
    font-size: 1.2rem;
}

.service_card i {
    color: var(--main-color);
}

@media (width < 650px) {
    .services_container {
        flex-direction: column;
        align-items: center;
    }

    .service_card {
        margin-bottom: 3rem;
        width: 70%;
    }
}
/* ###################### SERVICES SECTION ENDED ####################### */

/* ###################### PROJECTS SECTION STARTED ####################### */

.portfolio_container {
    background-color: var(--bg-color);
    padding: 5rem 2rem; /* Add padding on the sides */
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio_gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Ensure items don't take full width */
    gap: 2rem;
    width: 100%;
    max-width: 1200px; /* Max width to prevent it from spreading too wide */
    margin: 0 auto; /* Center the grid */
}

.portfolio_item {
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio_item:hover {
    transform: translateY(-10px);
}

.portfolio_item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0px 16px rgba(36, 255, 164, 0.4); /* Add box shadow directly to the image */
    
    
}

.portfolio_item img:hover {
    transform: scale(1.1);
}

.portfolio_item .project_name {
    margin-top: 1rem;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .portfolio_gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .portfolio_gallery {
        grid-template-columns: 1fr;
    }
}



/* ###################### CERTIFICATES SECTION STARTED ####################### */
.courses {
    background-color: var(--second-bg-color);
    padding: 5rem 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.courses_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 16px rgba(36, 255, 164, 0.4);
    border-radius: 10px;
}

.course_info {
    padding: 0.5rem;
}

.course {
    background-color: var(--bg-second-color);
    text-align: center;
    border: 1px solid transparent;
}

/* ################################## CONTACT SECTION ################################# */

.contact_section{
    min-height: 100vh;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 50%;
    background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
                linear-gradient(45deg, transparent 35%,var(--main-color), #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: var(--main-color);
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--main-color);
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  @media (width <= 580px){
     .contact_section .form-container{
        width: 80%;
     }
  }

 /* for external */

/* external----------------------------------------------- */

/* Custom Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--normal);
}

::-webkit-scrollbar-thumb {
    background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--danger);
}

body {
        margin: 0;
        padding: 0;
        line-height: 1.7;
        color: var(--normal);
        background-color: var(--bg);
    }
    

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding: 0; /* Ensure no extra padding */
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}


h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--normal);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--primary);
    color: var(--black);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
}

.btn:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

.border_bottom {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    margin-bottom: 2.5rem;
}

nav {
    background-color: var(--black);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.window-scroll{
    background-color:#0c1013f1;
}

.nav_container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_container span {
    color: var(--primary);
}

.nav_container h4 {
    font-size: 1.8rem;
}

.nav_container h4::first-letter {
    font-size: 2rem;
}

.nav_container h4:hover {
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.2s;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav_menu a {
    font-size: 1rem;
}

.nav_menu a:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    padding-bottom: 0.8rem;
    background-color: var(--black);
}

/* ======Footer SECTION======= */

ul {
    list-style: none; /* List style ko none set kar deta hai, jo dots ko hatata hai */
    padding: 0; /* Padding ko zero set kar deta hai */
    margin: 0; /* Margin ko zero set kar deta hai */
}

ul li {
    margin-bottom: 10px; /* List items ke beech ka gap set karta hai */
}

@media (max-width: 768px) {
    ul {
        padding: 0;
        margin: 0;
    }

    ul li {
        margin-bottom: 5px; /* Choti screens ke liye gap ko adjust kar deta hai */
    }
}

footer {
    padding-top: 5rem;
    background-color: var(--bg-color);
    font-size: 0.9rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer_container>div h4 {
    margin-bottom: 1.2rem;
}

.footer_1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
    color: var(--primary);
}

.footer_4 .mail {
    text-transform: lowercase;
}

.footer_social {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer_copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--normal);
}

/* ======MEDIA QUERIES (TABLETS)======= */

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .header_right .text-1 {
        font-size: 1.2rem;
    }

    .header_right .text-2 {
        font-size: 2rem;
    }

    .header_right .text-3 {
        font-size: 1.5rem;
    }

    .header_right .typing {
        font-weight: 450;
    }

    .btn {
        padding: 0.3rem 1.2rem;
    }

    /* ======NAVBAR OPEN======= */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--normal);
        cursor: pointer;
    }
/* we will display with js  */



  
    
    @keyframes animateNavItems {
        0%{
            transform: rotateZ(-90deg);
        }
        100%{
            transform: rotateZ(0);
            opacity: 1;
        }
    }

    .services_container .cards {
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .services_container .cards .card {
       padding: 2rem 0.3rem;
       margin: 0 0.5rem;
    }
    .services_container .cards .card:hover::after {
        transform: rotate(5deg);
    }
    .gallery a {
        height: 14rem;
        width: 18rem;
        margin: 1.2rem;
        border-radius: 0.3rem;
        overflow: hidden;
        box-shadow: 0 3px 5px var(--primary);
    }

    .courses_container{
        grid-template-columns: repeat(2,1fr);
    }
    .footer_container{
        grid-template-columns: repeat(2,1fr);
    }
}

/* ========MEDIA QUERIES (MOBILE)======== */
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }    
    .nav_menu{
        right: 3%;
    }

    .header_right .text-1 {
        font-size: 1rem;
    }

    .header_right .text-2 {
        font-size: 1.2rem;
    }

    .header_right .text-3 {
        font-size: 1.2rem;
    }
    .header_right a{
        margin-bottom: 0.3rem;
    }

    .btn {
        padding: 0.3rem 1rem;
    }

    .about_container{
        flex-direction: column;
    }
    .services_container .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    
    .services_container .cards .card {
       padding: 3rem 1rem;
       margin: 1rem 1rem;
    }
    .services_container .cards .card:hover::after {
        transform: rotate(5deg);
    }

    .gallery a{
        width: 25rem;
    }

    .courses_container{
        grid-template-columns: 1fr;
        width: 80%;
    }

    .courses_container .course{
        margin-bottom: 1rem;
    }

    .footer_container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_social{
        justify-content: center;
    }
}


  
  
  